body {
    margin:0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.hero {
    height:100vh;
    background:linear-gradient(135deg,#5b0f1a,#8b1e2d);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1 {
    font-size:60px;
}

.hero h2 {
    font-weight:300;
}

.btn {
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:white;
    color:#5b0f1a;
    text-decoration:none;
    border-radius:8px;
    font-weight:600;
}

.section {
    padding:80px 10%;
    text-align:center;
}

.white {
    background:white;
    color:#333;
}

.maroon {
    background:#5b0f1a;
    color:white;
}

.grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    margin-top:30px;
}

.card {
    padding:30px;
    border-radius:10px;
    background:#f4f4f4;
}

.white-card {
    background:white;
    color:#5b0f1a;
}

.flow-container {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin-top:30px;
}

.flow-box {
    background:white;
    color:#5b0f1a;
    padding:20px;
    border-radius:10px;
    min-width:200px;
    font-weight:600;
}

.arrow {
    font-size:24px;
}

.highlight-box {
    font-size:32px;
    font-weight:700;
    margin:20px 0;
}

footer {
    padding:20px;
    background:#111;
    color:white;
}
